@import "importme.css";

body {
  background-color: tomato;
}

.my3 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.my2 {
  margin-top: 2rem;
  margin-top: 2rem;
}


@media screen and (min-width: 900px) {
    .foo { color: green }
}
.bar { font-size: 1rem }
@media screen and (min-width: 1024px) {
    .bar { font-size: 2rem }
}
